*{
    margin: 0;
    padding: 0;
}

:root {
    --main-blue:rgb(43, 206, 235);
    --main-pink: rgb(247, 0, 255);
    --darker-blue: rgb(12, 155, 180);
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Outfit';
    text-align: center;
    box-sizing: border-box;
}

ul {
    text-align: left;
}

/* Header Code Follows*/
header {
    position: fixed;
    z-index: 99;
    height: 80px;
    background-color: rgb(43, 206, 235);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 160px;
    width: auto;
}

.logo img:hover{
    -webkit-animation: shake 0.5s;
            animation: shake 0.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.mainnav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

nav a{
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: all 0.3s linear;
}

nav a:hover {
    color: White;
}

nav .apply {
    border-radius: 5px;
    background-color: rgb(12, 155, 180);
    padding: 10px;
    transition: all 0.5s linear;
    color: white;
}

nav .apply:hover {
    background-color: rgba(128, 0, 128, 0);
    color: var(--main-pink);
    cursor: pointer;
}

.mobilenav {
    display: none;
    height: 80px;
    position:absolute;
    top: 10px;
    right: -150px;
    transition: all 0.5s linear;
}

.mobilenav:focus {
    transform: translateX(-150px);
}

.hidden a{
    padding: 10px;
    display: block;
    background-color: var(--main-blue);
}

nav .menu {
    border-radius: 5px;
    background-color: rgb(12, 155, 180);
    padding: 10px;
    transition: all 0.5s linear;
    color: white;
}

nav .menu:hover {
    background-color: rgba(128, 0, 128, 0);
    color: rgba(128, 0, 128, 0);
    cursor: pointer;
}

nav .menu:focus {
    background-color: rgba(128, 0, 128, 0);
    color: rgba(128, 0, 128, 0);
    cursor: pointer;
}

/* Page load animation*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Hero Code Follows */
.hero {
    margin: 80px auto 0 auto;
    width: 100%;  
    display: grid;
    grid-template: 40% 10% 10% 10% 20% / 30% 10% 10% 10% 10% 30%;
    height: 90vh;
    position: relative;
    
}

.hero .button {   
    grid-area: 2 / 1 / span 1 / span 6;
    border-radius: 10px;
    width: 100%;  
    animation: 4s ease-in 0s 1 fadein;
}

.button a {
    transition: all 0.2s linear;
    font-size: 2.5rem;
    color: white;
    font-family: 'Press Start 2P';
    text-align: center;
    text-decoration: none;
}

.hero a:hover {
    text-shadow: 10px 0 20px rgb(247, 0, 255), -10px 0 20px rgb(247, 0, 255);
    font-size: 3rem;
}

.background {
    grid-area: 1 / 1 / span 5 / span 6;
    width: 100%;
    height: 90vh;
}

.background-small {
    display: none;
    grid-area: 1 / 1 / span 5 / span 6;
    width: 100%;
    height: 90vh;
}


/* scroll up spaceship*/
.spaceship{
    position: fixed;
    width: 10%;
    min-width: 80px;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all 5s linear;
}

.spaceship img{
    width: 100%;
}

.spaceship :hover {
    -webkit-animation: shake 0.5s;
            animation: shake 0.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.spaceship :focus {
    -webkit-animation: fly 1s;
            animation: fly 1s;
}


/* Animation Keyframes for spaceship*/
@-webkit-keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes fly {
    0% { transform: translate(0px, -10px); }
    5% { transform: translate(0px, -50px); }
    10% { transform: translate(0px, -90px); }
    15% { transform: translate(0px, -120px); }
    20% { transform: translate(0px, -160px); }
    30% { transform: translate(0px, -200px); }
    35% { transform: translate(0px, -250px); }
    40% { transform: translate(0px, -300px); }
    45% { transform: translate(0px, -360px); }
    50% { transform: translate(0px, -450px); }
    55% { transform: translate(0px, -600px); }
    60% { transform: translate(0px, -750px)rotate(180deg); }
    65% { transform: translate(0px,  -600px)rotate(180deg); }
    70% { transform: translate(0px, -450px)rotate(180deg); }
    75% { transform: translate(0px, -360px)rotate(180deg); }
    78% { transform: translate(0px, -300px)rotate(180deg); }
    82% { transform: translate(0px, -250px)rotate(180deg); }
    86% { transform: translate(0px, -200px)rotate(180deg); }
    90% { transform: translate(0px, -160px)rotate(180deg); }
    94% { transform: translate(0px, -120px)rotate(180deg); }
    98% { transform: translate(0px, -60px)rotate(180deg); }
    100% { transform: translate(0px, -10px)rotate(180deg); }
}

@keyframes fly {
    0% { transform: translate(0px, -10px); }
    5% { transform: translate(0px, -50px); }
    10% { transform: translate(0px, -90px); }
    15% { transform: translate(0px, -120px); }
    20% { transform: translate(0px, -160px); }
    30% { transform: translate(0px, -200px); }
    35% { transform: translate(0px, -250px); }
    40% { transform: translate(0px, -300px); }
    45% { transform: translate(0px, -360px); }
    50% { transform: translate(0px, -450px); }
    55% { transform: translate(0px, -600px); }
    60% { transform: translate(0px, -750px)rotate(180deg); }
    65% { transform: translate(0px,  -600px)rotate(180deg); }
    70% { transform: translate(0px, -450px)rotate(180deg); }
    75% { transform: translate(0px, -360px)rotate(180deg); }
    78% { transform: translate(0px, -300px)rotate(180deg); }
    82% { transform: translate(0px, -250px)rotate(180deg); }
    86% { transform: translate(0px, -200px)rotate(180deg); }
    90% { transform: translate(0px, -160px)rotate(180deg); }
    94% { transform: translate(0px, -120px)rotate(180deg); }
    98% { transform: translate(0px, -60px)rotate(180deg); }
    100% { transform: translate(0px, -10px)rotate(180deg); }
}

/* Global Container Code*/

section {
    margin: 5% auto;
    width:80%;
}

.container {
    display: flex;
    margin: 5% auto;
    gap: 5%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    min-width: 350px;
    max-width: 45%;
    margin: 10px 0;
    text-align: left;
}
  
.box img {
    max-width: 100%;
    min-width: 350px;
    height:auto;
    display: block;
    overflow: visible;
}

.second {
    background-color: var(--main-blue);
    padding: 2% 5% 2% 5%;
}

/*About Section Styling*/

strong{
    color: var(--darker-blue);
}

.about h2{
    margin: 10px;
}

.about h3{
    margin: 10px;
}

.about p{
    margin: 10px;
}

.about ul {
    margin: 10px;
    list-style: none;
}

.list{
    border: 2px var(--darker-blue) solid;
}

.about .box h3{
    color: var(--darker-blue)
}

.fa {
    color: var(--darker-blue)
}

/*Gallery Styling*/


.big {
    width: 100%;
}

.big img{
    width:88%;
    max-width: 800px;
    display: block;
    margin: 10px auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width:22%;
    min-width: 250px;
}

/*Courses Section*/
.course {
    border: 1px rgba(255, 255, 255, 0.521) solid;
    padding: 10px;
    width: 40%;
    margin: 10px;
    min-width: 300px;
    text-align: left;
}

.courses h2 {
    text-align: center;
}

.courses a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.5s linear;
}

.courses a:hover {
    color: var(--main-pink)
}

.second strong {
    color: white;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 2%;
    padding: 1rem;
}

/* Why Us section*/

.whyus img{
    width: 100%;
    max-width: 800px;
    border: 5px var(--darker-blue) solid;
    display: block;
    margin: auto;
    gap: 1rem;
}

.box #careers{
    padding: 1.5rem;
    display: grid;
    gap: 20px;
    grid-template: 1.5rem / 1fr 1fr;
    grid-auto-rows: 1.5rem;
    align-items: flex-end;
}

/*Form Styling*/
.form{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form h2{
    width: 100%;
}

form {
    text-align: left;
}

input[type=text] {
    width:100%;
}

input[type=number] {
    width:100%;
}

input {
    padding: 10px;
    margin: 10px 5px;
}

input[type=radio]:hover {
    cursor: pointer;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 5px;
}

label {
    padding: 5px;
}

form p {
    margin: 10px 0;
}

input[type=submit] {
    width:100%;
    margin: 20px 0;
    background-color: var(--darker-blue);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid var(--darker-blue);
    transition: all 0.5s linear;
}

input[type=submit]:hover {
    background-color: rgba(128, 0, 128, 0);
    color: var(--main-pink);
    border: 1px solid var(--main-blue);
    cursor: pointer;
    
}

/* Footer*/
footer {
    width: 100%;
    height: 65px;
    background-color: var(--main-blue);
}

.footer nav{
    padding: 0 10px;
}

.footer nav .fa{
    color: black;
    padding: 10px;
    transition: all 0.5s linear;
}

.footer nav .fa:hover{
    color: white;
}

.footer {
    height: 65px;
    width: 80%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.social-small {
    display: none;
}

/* Link Scroll Locations */
#About {
    position: relative;
    top: -50px;
}

#Gallery {
    position: relative;
    top: -100px;
}

#Courses {
    position: relative;
    top: -50px;
}

#Teachers {
    position: relative;
    top: -50px;
}

#Whyus {
    position: relative;
    top: -100px;
}

#Apply {
    position: relative;
    top: -100px;   
}


/* Responsiveness */

@media only screen and (max-width: 768px) {
    .background img{
        display: hidden;
    }

    .button a {
        font-size: 1.5rem;
    }

    .button a:hover {
        font-size: 2rem;
    }

    .social {
        display: none;
    }

    .social-small {
        display: inherit;
        margin-right: 20px;
    }

    .footer nav .fa{
        padding: 5px;
    }

    .gallery img {
        width:88%;
    }

    .background {
        display: none;
    }

    .background-small {
        display: inherit;
    }

    .mainnav {
        display: none;
    }

    .mobilenav {
        display: inherit;
    }

    .logo img{
        height: 120px;
    }

    .course {
        width: 90%;
    }

    .box {
       max-width: 90%;
       min-width: 250px;
    }

    .box #careers{
        gap: 10px;
    }

    section {
        width:90%;
    }

    .box #careers{
        gap: 10px;
        grid-template: 1.5rem / 1fr;
    }

}